
<!-- SEO HOME -->

<div id="home">

  <div class="v-card v-sheet theme--light elevation-0">
    
    <div class="v-card__title headline text-center">
      Remote Control System
    </div> 
    <div class="v-card__text">

      <p>A real time remote control solution for information systems.</p>
      <p>It allows to command a set of slave displays using a remote control app.</p>

      <p>Examples:
        <ul>
          <li>Commercial displays at storefronts or restaurants.</li>
          <li>Public Information for cities, airports or transportation centers.</li>
          <li>Industrial active information screens.</li>
        </ul>
      </p>
    
    </div>

    <div class="v-card__title headline text-center">
      How does it work?
    </div>
    <div class="v-card__text">

      <p>First you bind devices and then you can assign views to them.</p>
      <p>Basic concepts:

        <ul>
          <li><b>Device</b> is any networked machine.</li>
          <li><b>Component</b> is a reusable module of code.</li>
          <li><b>Scope</b> is a namespace to store variables.</li>
          <li><b>View</b> belongs to one user and includes a component and a store.</li>
        </ul>
      </p>
      
      <p>Procedure:
        <ul>
          <li>Navigate to nabla.net in one device. You get a QR code.</li>
          <li>Scan the QR using this app or Google Lens.</li>
          <li>The device is bound when the QR goes away.</li>
          <li>Select a view using this remote control.</li>
          <li>Edit or create your views.</li>
        </ul>
      </p>
      
      <p>A cheap solution to deploy displays is using a Raspberry PI in kiosk mode.</p>



    </div>
  </div>
</div>
<!-- END HOME -->
